window {
  font-family: 'JetBrains Mono';
  background-color: transparent;
  font-size: 1em;
  min-height: 1px;
}

centerbox {
  border-radius: 14px;
  background-color: transparent;
  margin-right: 15px;
  margin-left: 15px;
  min-height: 1px;
}

.red-symbol {
  color: red;
}

.workspace-container {
  border: 2px solid white;
  min-height: 0px;
  min-width: 0px;
  border-radius: 15px;
  background-color: transparent;
}

.workspace {
  background-color: transparent;
  border-radius: 15px;
  min-height: 0px;
  color: black;
}

.workspace:hover {
  background-color: red;
}

.focused-workspace {
  background-color: red;
}

.occupied-workspace {
  color: white;
}

.container {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  padding: 2px 8px;
}
